<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Mission-B</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Mission-B</span>
        <a class='text-left text-secondary' href='/login'>Log in Page</a>
    </nav>
    <div class='container'>
        <div class="row justify-content-center">
            <div class="col-md-8 mt-4">
                <div class="card">
                    <div class="card-header">
                        Sign up
                    </div>
                    <div class="card-body">
                        <form action="/signup" method="post" class='mt-4 col-8 mx-auto'>
                            <div class="form-group">
                                <label for="email">EMAIL</label>
                                <input type="text" class="form-control" name='email'>
                            </div>
                            <div class="form-group">
                                <label for="email">PASSWORD</label>
                                <input type="password" class="form-control" name='pass'>
                            </div>
                            <div class="form-group">
                                <label for="email">PASSWORD</label>
                                <input type="password" class="form-control" name='passConfirm'>
                            </div>
                            <div class="form-group">
                                <label for="name">NAME</label>
                                <input type="text" class="form-control" name='name'>
                            </div>
                            <div class='text-right'>
                                <button type="submit" class="btn btn-info m-2">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>